@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-list {
        @apply top-14 left-[-42rem] absolute h-[89vh] w-56 duration-300 ease-in-out bg-white
        md:relative md:top-0 md:left-0 md:flex md:h-auto md:w-auto md:mx-0 md:ml-auto;
    }
    .nav-item {
        @apply text-center px-3 py-1 mt-1 mx-auto w-min font-sans font-medium
        border-2 border-transparent rounded-xl cursor-pointer
        ease-in-out duration-150 block
        hover:border-black
        md:mx-2;
    }
}
